.App{
  position: absolute;
  width: 1428px;
  height: 823px;
  background: #FDE4E4
  }


.button-row{
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 350px 0px 25px -30px;
}
.pic {
  position: absolute;
  top: 120px; 
  left: 600px;
  width: 200px;
  height: 200px;
}

.box{
  position: relative;
  top: 150px;
  left: 560px;
  height: 250;
  width: 550;
  color: white;
}

.fact{
  position: absolute;
  width: 605px;
  height: 348px;
  top: 500px;
  left: 600px;
  top: 190px;
}
